body {
    background-color: rgb(51, 51, 51);
    font-family: monospace, sans-serif, serif;
}

#body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px
}

#calc-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 750px;
    width: 500px;
    background-color: rgb(255, 175, 0);
    box-shadow: 10px 10px rgba(255, 175, 0, 0.35);
    border-radius: 25px;
    padding: 16px 0 16px 0;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-height:125px;
    max-height: fit-content;
    width:450px;
    background-color: beige;
    border-radius: 25px;
    box-shadow: 2px 2px 5px 2px gray inset;
    margin: 16px 0 16px 0;
    padding: 16px 0 16px 0;
    word-wrap: break-word;

}

#display-text {
    margin: 0 23px 0 23px;
    max-height: fit-content;
    text-align: end;
}

#upper-display {
    min-height: 35px;
    max-height: fit-content;
    width: 410px;
    font-size: x-large;
    margin: 0 0 8px 0;
}

#lower-display {
    min-height: 45px;
    max-height: fit-content;
    width: 410px;
    font-size: xx-large;
    margin: 8px 0 0 0;
    flex-grow: 1;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 450px;
}

button {
    width: 100px;
    height: 75px;
    background-color: beige;
    border-radius: 25px;
    font-size: x-large;
}

#zero {
    width: 200px;
}